body {
    background-color: #05445E;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    color: #d4f1f4;
    font-family: 'Fredoka', sans-serif;
}

button {
    background: none;
    color: #d4f1f4;
    border: 2px solid;
    padding: 1em 2em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 0.8em;
    transition: 0.25s;
    font-family: 'Fredoka', sans-serif;

}

button:hover {
    box-shadow: 0 0 5px #d4f1f4;
    border-color: #d4f1f4;
    color: white;
    transform: scale(1.04);
}

button:active {
    box-shadow: 0 0 10px #d4f1f4;
    border-color: #d4f1f4;
    color: white;
    transform: scale(0.99);
}

ol {
    padding: 0px;
}

ol li {
    list-style-type: none;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.game-board-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    margin-bottom: 20px;
}

.game-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.game-info {
    text-align: left;
}

.board-row {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    background: #189ab4;
    border: 2px solid #05445E;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    line-height: 60px;
    padding: 0;
    margin: 0px;
    transition: all 0.5s ease;
}

.square:hover {
    box-shadow: 0 0 15px #80eae8;
    background: #189ab4;
    border-color: #75E6DA;
    transform: none;
}

.square:active {
    box-shadow: 0 0 12px #D4F1F4;
    border-color: #d4f1f4;
    color: white;
    transform: none;
}

.status {
    color: #d4f1f4;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 33px;
}

div h3 {
    padding: 0em 2em;
    margin: 0px;
}

div.game-info button {
    margin: 1em 2em;
}